{% include 'admin_navigation.html' %}

<script>
  function checkpass() {
    if (
      document.changepassword.newpassword.value !=
      document.changepassword.confirmpassword.value
    ) {
      alert("New Password and Confirm Password field does not match");
      document.changepassword.newpassword.focus();
      return false;
    }
    return true;
  }
</script>

<div class="container">
  <div class="card-box">
    <div class="title">🔒 Change Password</div>

    <form method="post" name="changepassword" onsubmit="return checkpass();">
      {% csrf_token %}

      <label>Current Password:</label>
      <input
        type="password"
        class="form-control"
        name="currentpassword"
        placeholder="Enter Your Current Password"
        required
      />

      <label>New Password:</label>
      <input
        type="password"
        class="form-control"
        name="newpassword"
        placeholder="Enter New Password"
        required
      />

      <label>Confirm Password:</label>
      <input
        type="password"
        class="form-control"
        name="confirmpassword"
        placeholder="Re-enter New Password"
        required
      />

      <div class="text-center">
        <input
          type="submit"
          class="btn btn-primary btn-submit"
          value="Update Password"
        />
      </div>
    </form>
  </div>
</div>

{% if error == "no" %}
<script>
  alert("Password Changed Successfully")
  window.location = ('{% url 'Logout' %}')
</script>
{% endif %} {% if error == "yes" %}
<script>
  alert("Something went wrong, Try Again");
</script>
{% endif %} {% if error == "not" %}
<script>
  alert("Your Current Password is wrong");
</script>
{% endif %}
